Requirements!! 

- A POST endpoint that will accept an image (png for right now) and store it in memory. 
- A GET endpoint that will retrieve all images from what is stored in memory. 

Tooling: 
- Chi (A lightweight router for HTTP services.)


Testing:
- Using the curl command to send images to the endpoint from the terminal. 

Questions:
- What are best practices for implementing environment variables with golang OR how to properly configure the 
AWS SDK for application code? 